body{
    background-image: url("https://images.unsplash.com/photo-1541280910158-c4e14f9c94a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
}
.header{
    height: 7vh;
    width: 100vw;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    position: fixed;
}

.logo-image{
    margin-left: 1vw;
    display: flex;

}
.logo-image img{
    height: 100%;
    width: 100%;
}
.logo-image h2{
    margin:auto 2px;
}

.button1{
    width: 160px;
    padding-right: 1vw;
    
}
.button1 button{
    text-align: center;
    height: 80%;
    margin-top: 0.8vh;
    /* margin-top: 20px; */
    /* width: 100%; */
    background-color: navy;
    color: white;
    /* padding: 15px 0; */
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}